<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: head"></div>
</head>
<body>

<section id="slider" class="section slider slider-2">
    <div class="slide--item bg-overlay bg-overlay-theme">

        <div class="container">
            <div th:replace="fragments/layout :: logo"></div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 pt-50 wow fadeInUp" data-wow-duration="1s">
                    <div class="main-content">
                        <p class="download" th:text="${downloadText}" th:if="${downloadText}">Download the App</p>
                        <div th:replace="fragments/layout :: download-cta"></div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </div>
        <!-- .slide-item end -->
</section>

<div th:replace="fragments/layout :: footer"></div>

</body>
</html>
