<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout :: head"></div>
</head>
<body>

<section id="slider" class="section slider slider-2">
    <div class="slide--item bg-overlay bg-overlay-theme">

        <div class="container">
            <div th:replace="fragments/layout :: logo"></div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 pt-50 wow fadeInUp" data-wow-duration="1s">
                    <div class="main-content">
                        <img class="profile-picture" th:src="${account.pictureUrl}" th:if="${account.pictureUrl}"/>
                        <div class="slide--headline">
                            <h1 th:text="${account.displayName}">Ray Sponsible</h1>
                        </div>
                        <div class="slide--category" th:text="${account.category.title}" th:if="${account.category}">
                        </div>
                        <div class="slide--bio" th:text="${account.biography}" th:if="${account.biography}"></div>

                        <img class="qr-code" th:src="${qrCodeUrl}" th:if="${qrCodeUrl}"/>

                        <hr/>
                        <p class="download">Download the App to view the full profile</p>
                        <div th:replace="fragments/layout :: download-cta"></div>
                    </div>
                    <!--
                    <div class="slide--holder">
                        <img class="img-responsive pull-right" decoding="async" src="assets/images/mockup/mockup-1.png"
                             alt="screens">
                    </div>
                    -->
                </div>
                <!-- .row end -->
            </div>
            <!-- .container end -->
        </div>
        <!-- .slide-item end -->
</section>

<div th:replace="fragments/layout :: footer"></div>

</body>
</html>
